<p id="notice"><%= notice %></p>

<p>
  <strong>Date time:</strong>
  <%= @booking.date_time %>
</p>

<p>
  <strong>Ticket type:</strong>
  <%= @booking.ticket_type %>
</p>

<p>
  <strong>Ticket amount:</strong>
  <%= @booking.ticket_amount %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
