<h1>Listing events</h1>
<ul id ="search_list">
	<li><b>Artist</b></li>
	<li><b>Venue</b></li>
</ul>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>Venue</th>
      <th>Artist</th>
	  <th>Date and Time</th>
	  <th>Event Id</th>
      <th colspan="3"></th>
    </tr>
  </thead>
			
			<div id="search">
				<%= render 'search' %>
			</div>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.venue.name %></td>
        <td><%= event.artist.name %></td>
		<td><%= event.date_time %></td>
		<td><%= event.id %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
