<!DOCTYPE html>
<html>
<head>
  <title>GigsBooker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background:#FAAC58" >
    <div class="container" >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" >
				
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
				<% if !logged_in? %>
						<button type="button" class="btn btn-success"><%= link_to "Log In", login_path%></button>
					<% else %>
						Signed in as <%= @current_user.first_name %>
						
						
						
						<%if @current_user.image.empty?%>
							<%= image_tag("avatar.jpg", :alt=> "No Picture", :class=> "uImage")%>
						<%else%>
							<%= image_tag(@current_user.image, :class=>"uImage") %>
						<%end%>
						
						<button type="button" class="btn btn-success"><%= link_to "Sign Out", logout_path %></button>
					<% end %>
				<a class="navbar-brand" href="#">GigBooker</a>
					<li><%= link_to "Home", root_path %></li>
					<li><%= link_to "Gig Giude", 'http://www.dublinconcerts.ie/upcoming-gigs/' %></li>
					<li><%= link_to "Artists", artists_path %></li>
					<li><%= link_to "Venues", venues_path %></li>
					<li><%= link_to "Events", events_path %></li>
					<li><%= link_to "Users", users_path %></li>
					<li><%= link_to "Bookings", bookings_path %></li>
				</ul>
				
					
					
	
	
	
			</div>
			</nav>
			<div>
			<br>
			<div class="container">
			
			<div id=row>
			
				<div id="centre" class="modal-footer col-md-9" >
				
					
					<%=yield%>
					
					
			
				</div>
				
				</div>
				
			</div>
			
	 <div class="navbar navbar-default navbar-fixed-bottom" style="background:#FAAC58">
    <div class="container">
      <p class="navbar-text pull-left">© 2016 - Site Built By Mr.James McGovern
      </p>
      
      <a href="https://github.com/jimmycodehub" style="color:white" class=" navbar-btn btn-success btn-github btn pull-right ">
        GitHub</a>
    </div>
    
    
  </div>

    <!-- /.container -->



    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    

</body>
</html>
